<div class="card">
  <div class="card-header">
    Sign Up!
  </div>
  <div class="card-body">
    <form novalidate [formGroup]="customerForm" (ngSubmit)="save()">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstName">First Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="firstName" formControlName="firstName"
            placeholder="First Name (required)" [ngClass]="{
              'is-invalid': (customerForm.get('firstName').touched || customerForm.get('firstName').dirty) && customerForm.get('firstName').invalid,
              'is-valid': customerForm.get('firstName').valid
            }" />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="customerForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastName">Last Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="lastName" formControlName="lastName"
            placeholder="Last Name (required)" [ngClass]="{
            'is-invalid': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && customerForm.get('lastName').invalid,
            'is-valid': customerForm.get('lastName').valid
           }">
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('lastName').errors?.required">
              Please enter your last name.
            </span>
            <span *ngIf="customerForm.get('lastName').errors?.minlength">
              The last name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="email">Email</label>
          <div class="col-md-8">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email (required)"
              [ngClass]="{
              'is-invalid': emailMessages,
              'is-valid': customerForm.get('emailGroup.email').valid
             }">
            <span class="invalid-feedback">
              {{ emailMessages }}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmEmail">Confirm Email</label>
          <div class="col-md-8">
            <input type="confirmEmail" class="form-control" id="confirmEmail" formControlName="confirmEmail"
              placeholder="Confirm Email (required)" [ngClass]="{
              'is-invalid': customerForm.get('emailGroup').errors || ((customerForm.get('emailGroup.confirmEmail').touched || customerForm.get('emailGroup.confirmEmail').dirty) && customerForm.get('emailGroup.confirmEmail').invalid),
              'is-valid': customerForm.get('emailGroup.confirmEmail').valid
             }">
            <span class="invalid-feedback">
              <span *ngIf="customerForm.get('emailGroup.confirmEmail').errors?.required">
                Please confirm your email address.
              </span>
              <span *ngIf="customerForm.get('emailGroup').errors?.match">
                The confirmation does not match the email address.
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="phone">Phone</label>
        <div class="col-md-8">
          <input type="phone" class="form-control" id="phone" formControlName="phone" [ngClass]="{
              'is-invalid': (customerForm.get('phone').touched || customerForm.get('phone').dirty) && !customerForm.get('phone').valid,
              'is-valid': customerForm.get('notification').value === 'text' && customerForm.get('phone').valid
             }" placeholder="Phone">
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('phone').errors?.required">
              Please enter your phone number.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Send Notifications</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" formControlName="notification" value="email" /> Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" formControlName="notification" value="text" /> Text
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="rating">Rating</label>
        <div class="col-md-8">
          <input type="number" class="form-control" id="rating" formControlName="rating"
            placeholder="Rate your experience 1 to 5" [ngClass]="{
              'is-invalid': (customerForm.get('rating').touched || customerForm.get('rating').dirty) && !customerForm.get('rating').valid,
              'is-valid': customerForm.get('rating').value && customerForm.get('rating').valid
           }">
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('rating').errors?.range">
              Please rate your experience from 1 to 5.
            </span>
          </span>
        </div>
      </div>

      <div class="form-check form-group row mb-2">
        <div class="col-md-10">
          <input type="checkbox" class="form-check-input" formControlName="sendCatalog" id="sendCatalog">
          <label class="form-check-label" for="sendCatalog">Send me your catalog</label>
        </div>
      </div>

      <ng-container *ngIf="customerForm.get('sendCatalog').value">
        <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index;">
          <div [formGroupName]="i">
            <div class="form-group row">
              <div class="col-md-2 col-form-label">Address Type</div>
              <div class="col-md-8">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" id="{{ 'addressHome' + i }}" value="home"
                    formControlName="addressType">
                  <label class="form-check-label" attr.for="{{ 'addressHome' + i }}">Home</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" id="{{ 'addressWork' + i}}" value="work"
                    formControlName="addressType">
                  <label class="form-check-label" attr.for="{{ 'addressWork' + i }}">Work</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" id="{{ 'addressOther' + i}}" value="other"
                    formControlName="addressType">
                  <label class="form-check-label" attr.for="{{ 'addressOther' + i }}">Other</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" attr.for="{{ 'street1' + i }}">Street Address 1</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="street1" id="{{ 'street1' + i }}"
                  formControlName="street1" placeholder=" Street Address" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" attr.for="{{ 'street2' + i }}">Street Address 2</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="street2" id="{{ 'street2' + i }}"
                  formControlName="street2" placeholder="Street Address (second line)">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-2 col-form-label">
                <label attr.for="{{ 'city' + i }}">City,</label>&nbsp;
                <label attr.for="{{ 'state' + i }}">State,</label>&nbsp;
                <label attr.for="{{ 'pincode' + i }}">Pin Code</label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" name="city" id="{{ 'city' + i }}" formControlName="city"
                  placeholder="City">
              </div>
              <div class="col-md-3">
                <select id="{{ 'state' + i }}" class="form-control" name="state" formControlName="state">
                  <option *ngFor="let state of stateList" [value]="state">{{ state }}</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" name="pincode" id="{{ 'pincode' + i }}"
                  formControlName="pincode" placeholder="Pin Code">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-2">
          <div class="col-md-4">
            <button class="btn btn-outline-primary" type="button" [disabled]="!addresses.valid"
              (click)="addAddress()">Add Another Address</button>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div [hidden]="!customerError" class="alert alert-danger">
          {{customerErrorMessage}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-2">
          <button type="submit" class="btn btn-primary mr-3"
            [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form is valid'"
            [disabled]="!customerForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
