<div class="card">
  <div class="card-header">
    Sign Up!
  </div>
  <div class="card-body">
    <form [formGroup]="customerForm" (ngSubmit)="save()">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstName">First Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="firstName" formControlName="firstName" required minlength="3"
            [ngClass]="{ 'is-valid': (customerForm.get('firstName').touched || customerForm.get('firstName').dirty) && customerForm.get('firstName').invalid }"
            placeholder="First Name (required)" />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="customerForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastName">Last Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="lastName" formControlName="lastName" required minlength="3"
            [ngClass]="{ 'is-valid': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && customerForm.get('lastName').invalid }"
            placeholder="Last Name (required)">
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('lastName').errors?.required">
              Please enter your last name.
            </span>
            <span *ngIf="customerForm.get('lastName').errors?.minlength">
              The last name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="email">Email</label>
        <div class="col-md-8">
          <input type="email" class="form-control" id="email" formControlName="email" required
            [ngClass]="{ 'is-valid': (customerForm.get('email').touched || customerForm.get('email').dirty) && customerForm.get('email').invalid }"
            placeholder="Email (required)">
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('email').errors?.required">
              Please enter valid email address.
            </span>
          </span>
        </div>
      </div>
      <div class="form-check form-group row mb-2">
        <div class="col-md-10">
          <input type="checkbox" class="form-check-input" formControlName="sendCatalog" id="sendCatalog">
          <label class="form-check-label" for="sendCatalog">Send me your catalog</label>
        </div>
      </div>

      <ng-container *ngIf="false && customerForm.get('sendCatalog').value">
        <div class="form-group row">
          <div class="col-md-2">Address Type</div>
          <div class="col-md-8">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="addressType" id="addressType1" value="home"
                formControlName="addressType">
              <label class="form-check-label" for="addressType1">Home</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="addressType" id="addressType2" value="work"
                formControlName="addressType">
              <label class="form-check-label" for="addressType2">Work</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="addressType" id="addressType3" value="other"
                formControlName="addressType">
              <label class="form-check-label" for="addressType3">Other</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="streetAddress1">Street Address 1</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="streetAddress1" id="streetAddress1"
              formControlName="streetAddress1" placeholder=" Street Address" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="streetAddress2">Street Address 2</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="streetAddress2" id="streetAddress2"
              formControlName="streetAddress2" placeholder="Street Address (second line)">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="city">City, State, Pin Code</label>
          <div class="col-md-3">
            <input type="text" class="form-control" name="city" id="city" formControlName="city" placeholder="City">
          </div>
          <div class="col-md-3">
            <select id="state" class="form-control" name="state" formControlName="state">
              <option *ngFor="let state of stateList">{{ state }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" name="pincode" id="pincode" formControlName="pincode"
              placeholder="Pin Code">
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div [hidden]="!customerError" class="alert alert-danger">
          {{customerErrorMessage}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-2">
          <button type="submit" class="btn btn-primary mr-3"
            [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form is valid'"
            [disabled]="!customerForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
