<div class="card">
  <div class="card-header">Add Product</div>
  <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="save()">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="productName">Product Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="productName" formControlName="productName"
            placeholder="Name (required)" [ngClass]="{
              'is-valid': (productForm.get('productName').touched || productForm.get('productName').dirty) && !productForm.get('productName').invalid,
              'is-invalid': productForm.get('productName').dirty && productForm.get('productName').errors
            }" />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('productName').errors?.required">
              Please enter product name.
            </span>
            <span *ngIf="productForm.get('productName').errors?.minlength">
              Product name must be 3 or more characters.
            </span>
            <span *ngIf="productForm.get('productName').errors?.maxlength">
              Product name must be 50 characters or less.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="productCode">Product Code</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="productCode" formControlName="productCode"
            placeholder="Code (required)" [ngClass]="{
              'is-valid': (productForm.get('productCode').touched || productForm.get('productCode').dirty) && !productForm.get('productCode').invalid,
              'is-invalid': productForm.get('productCode').dirty && productForm.get('productCode').errors
            }" />
        </div>
        <span class="invalid-feedback">
          <span *ngIf="productForm.get('productCode').errors?.required">
            Please enter product code.
          </span>
        </span>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="starRating">Star Rating (1-5)</label>
        <div class="col-md-6">
          <input type="number" class="form-control" id="starRating" formControlName="starRating" step="0.1"
            placeholder="Rating 1-5" [ngClass]="{
                    'is-valid': (productForm.get('starRating').touched || productForm.get('starRating').dirty) && !productForm.get('starRating').invalid,
                    'is-invalid': productForm.get('starRating').dirty && productForm.get('starRating').errors
                  }" />
        </div>
        <span class="invalid-feedback">
          <span *ngIf="productForm.get('starRating').errors?.required">
            Please enter product's star rating.
          </span>
          <span *ngIf="productForm.get('starRating').errors?.range">
            Rate the product between 1(lowest) and 5(highest).
          </span>
        </span>
      </div>

      <div formArrayName="tags" *ngFor="let tag of tags.controls; let i = index;">
        <div formGroupName="{{i}}">
          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="tag{{i}}">Tag</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="tag{{i}}" formControlName="tag" [ngClass]="{
                          'is-valid': (tags.get('tag').touched || tags.get('tag').dirty) && !tags.get('tag').invalid,
                          'is-invalid': tags.get('tag').dirty && tags.get('tag').errors
                        }" />
            </div>
            <span class="invalid-feedback">
              <span *ngIf="tags.get('tag').errors?.minlength">
                Tag must be 3 characters or more.
              </span>
            </span>
            <div class="col-md-2">
              <button class="btn btn-outline-warning">Delete Tag</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-2 col-form-label">
          <button class="btn btn-sm btn-outline-primary">Add Tag</button>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="description">Description</label>
        <div class="col-md-6">
          <textarea rows="4" class="form-control" id="description" formControlName="description"
            placeholder="Product Description" [ngClass]="{
                    'is-valid': (productForm.get('description').touched || productForm.get('description').dirty) && !productForm.get('description').invalid,
                    'is-invalid': productForm.get('description').dirty && productForm.get('description').errors
                  }"></textarea>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-6 prefix-col-2">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
